@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #ab9af4 0%, violet 100%);
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navLink, .logo {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 0 0.5rem;
}

.navLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.navLink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navLink:hover {
    color: #ddd;
}